.day {
  display: flex;
  justify-content: space-between;
  height: 55px;
  margin: 15px 20px;
  
  border-bottom: 0.2px solid rgba(66, 66, 66, 0.5);

  span {
    font-family: 'SF Medium';
    font-size: 22px;
    color: rgb(66, 66, 66);
  }

  div {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  progress {
    width: 165px;
  }
}