.weatherProperties {
  margin-top: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 53px;
  column-gap: 14px;

  .property {
    width: 31%;
    height: 200px;
    padding: 14px 13px 14px 20px;
    border-radius: 18px;
    border: 0.6px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(145px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3C3C3C;

    h2 {
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.3);
      font-size: 19px;
      font-family: "SF Medium";
    }

    span {
      font-size: 43px;
    }

    p {
      font-size: 22px;
    }
  }
}