:root {
  --white: #fff;
  --primary-color: rgb(66, 66, 66);
  --secondary-color: rgb(55,60,66);
  --black: rgba(0, 0, 0, 0.3);
  --line-color: rgba(66, 66, 66, 0.5);
  --aside-background: rgba(0, 148, 255, 0.15);
  --location-background: rgba(0, 0, 0, 0.51);
  --primary-background: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.25);
  --precipitation-color: rgb(35,171,246);
}