@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body {
  // background-color: rgba(114, 227, 255, 0.482);
  font-family: "SF Normal";
  font-style: normal;
  font-weight: 400;
}