.timeForecast {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(145px);
  padding: 10px;

  color: #373C42;

  h2 {
    font-size: 18px;
    max-width: 287px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .timeBlock {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    border-top: 0.2px solid rgba(55, 60, 66, 0.5);
  }
}